@charset "UTF-8";

body{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.main{
    text-align: center;
    margin-top: 18%;
    font-size: x-large;
    border: 5px;
    border-color: black;
    border-width: 4px;
    border-radius: 15px;
    border-style: solid;
    margin: 30%;
    background-color: #36393F;
    padding-bottom: 1%;
}

.main p{
    font-family: cursive;
    color: white;
}

.input form input{
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}